<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <!-- fontawesome -->

    <!-- google font --> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">



    <!-- style css -->
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="style/style.css">



    <!-- Favicon Fire -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Hotjar Tracking Code for https://deinrestaurant.ch -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2834923,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    <title>👉 Deine Bewertung 👀</title>
  </head>
  <body>
    
    <!-- card -->
    <section class="">
        <div class="">
           
            <h1 class="h1">Danke für die Rückmeldung <br>
              Hilf uns mit einer Google Bewertung</h1>
            <br>
            <a class="google-button" href="https://bit.ly/zh-sternengrill" target="_blank">Hier KLICKEN für eine <strong>Google Bewertung</strong></a>
            
        </div>
    </section>
    <!-- card -->

    
    <!-- jquery -->

    <!-- popper -->

    <!-- bootstrap -->

    <!-- main js -->
    
  </body>
</html>