
body {
    font-family: sans-serif;
  }
  hr {
    margin: 20px 0px;
  }
  p {
    text-align: center;
  }
  
  .google-button {
    display: block;
    margin: 15px auto;
    width: 70%;
    max-width: 270px;
    padding: 10px 10px 10px 50px;
    border: 2px solid #00a0dc;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #00a0dc;
    background: url(https://cdn2.hubspot.net/hubfs/1961464/Support%20images/new-google-favicon-512.png) no-repeat left 20px center / 40px 40px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
      -webkit-animation: wiggle 2s ease-in infinite;
      -moz-animation: wiggle 2s ease-in infinite;
      -o-animation: wiggle 2s ease-in infinite;
    animation: wiggle 2s ease-in infinite;
  }
  
    .google-button:hover {
      color: #ffffff;
      background-color: #00a0dc;
      background-image: url(https://cdn2.hubspot.net/hubfs/1961464/Support%20images/new-google-favicon-512-white.png);
  }
  
    .google-button strong {
      font-size: 18px;
      display: block;
    }
    .h1 { text-align: center; }  
  
  @-webkit-keyframes wiggle {
    0%, 20%, 100% { background-position: left 20px center; }
    5% { background-position: left 15px center; }
    10% { background-position: left 20px center; }
    15% { background-position: left 25px center; }
  }
  
  @-moz-keyframes wiggle {
    0%, 20%, 100% { background-position: left 20px center; }
    5% { background-position: left 15px center; }
    10% { background-position: left 20px center; }
    15% { background-position: left 25px center; }
  }
  
  @-o-keyframes wiggle {
    0%, 20%, 100% { background-position: left 20px center; }
    5% { background-position: left 15px center; }
    10% { background-position: left 20px center; }
    15% { background-position: left 25px center; }
  }
  
  @keyframes wiggle {
    0%, 20%, 100% { background-position: left 20px center; }
    5% { background-position: left 15px center; }
    10% { background-position: left 20px center; }
    15% { background-position: left 25px center; }
  }