* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;    font-size: 10pt;
  padding: 0;
  margin: 0;
  background-color: #1F4EA2;
}


img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.divcent{
  text-align: center;

}

.mainhead{
    text-align: center;
    height: 100px;
    position: relative;


}
.buttons {
  height: 400px;
  width: 100%;
  text-align: center;
}
.btn {
  background-color: #E31E11;
  border-bottom: 4px solid #E31E11;
  color: #fff;
  padding: 15px 20px;
  margin: 0 10px;
  text-decoration: none;
}
.btn:visited, .btn:focus {
  color: #fff;
}